@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Jost", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  background-color: #f2f2f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dark {
  background-color: #091814;
}

.highlight {
  background-color: rgb(0, 148, 111);
}
